html {
  background-image: url("naruto-pain.jpg");
  background-size: cover;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.grid {
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 200px;
  width: 200px;
  border: solid white 1px;
}

.mole {
  background-image: url("wack a pain2.jpg");
  background-size: cover;
}
