* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-image: url("naruto-pain.jpg");
  background-size: cover;
  font-size: 20px;
}

.grid {
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 150;
  width: 150px;
  border: solid white 1px;
}

.mole {
  background-image: url("wack a pain2.jpg");
  background-size: cover;
}

h3 {
  color: red;
  font-display: bold;
  font-size: 50px;
}
